---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Main from '../components/Main.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import CommonPicture from '../components/CommonPicture.astro'

const posts = (await Astro.glob('./posts/*.md'))
  .sort(
    (a: any, b: any) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 6)
---

<!DOCTYPE html>
<html lang="zh" style="overflow: overlay;min-height: 100vh;">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <Main>
      <h1 class="text-3xl font-bold py-4 text-center">{SITE_TITLE}</h1>
      <section>
        <div class="mb-8 indent-4 flex flex-col items-center">
          <p>{SITE_DESCRIPTION}</p>
          <a class="items-center gap-1 indent-1 text-orange-500" href={'/about'}
            >Learn more about me <IoArrowForward className="inline" />
          </a>
        </div>
      </section>
      <article>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <CommonPicture image={post.frontmatter.heroImage} />
                    <div class="mt-3 text-xl font-bold">
                      {post.frontmatter.title}
                    </div>
                    {post.frontmatter.description && (
                      <div class="opacity-70">
                        {post.frontmatter.description}
                      </div>
                    )}
                  </a>
                </li>
              ))
            }
          </ul>
          <a
            class="inline-block w-full text-center gap-1 indent-1 text-orange-500"
            href={'/posts'}
            >More <IoArrowForward className="inline" />
          </a>
        </section>
      </article>
    </Main>
    <Footer />
  </Body>
</html>
