---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'

export interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- share -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={image || 'https://blog.peterchen97.cn/favicon.svg'}
/>
<meta property="og:url" content="https://blog.peterchen97.cn" />

<!-- wx share -->
<script is:inline>
  window.WEIXINSHARE = {
    shareTitle: title,
    shareImg: image || 'https://blog.peterchen97.cn/favicon.svg',
    imgUrl: image || 'https://blog.peterchen97.cn/favicon.svg',
    shareDesc: description
  }
</script>

<!-- dark theme -->
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
</script>

<!-- sentry -->
<script>
  import * as Sentry from '@sentry/browser'
  import { BrowserTracing } from '@sentry/tracing'

  import LogRocket from 'logrocket'

  Sentry &&
    Sentry.init({
      dsn: 'https://9dc4194e92514fb8bf106caf3b0cc4aa@o540966.ingest.sentry.io/4504228952801280',
      integrations: [new BrowserTracing()],
      tracesSampleRate: 1.0
    })

  LogRocket && LogRocket.init('blog-mi42z/blog')
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  is:inline
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-YP4K1G1DVQ"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-YP4K1G1DVQ')
</script>

<script is:inline>
  var _hmt = _hmt || []
  ;(function () {
    var hm = document.createElement('script')
    hm.src = 'https://hm.baidu.com/hm.js?166146b756cbf04bd70f750f8e7b4a9e'
    var s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(hm, s)
  })()
</script>
