---
import { Image } from '@astrojs/image/components'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Main from '../components/Main.astro'
import Content from '../components/Content.astro'
import { getReadingTime } from '../libs/readingTime'

export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage?: string
  }
}

const {
  content: { title, description, pubDate, updatedDate, heroImage }
} = Astro.props
---

<!DOCTYPE html>
<html lang="zh" style="overflow: overlay;min-height: 100vh;">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <Main>
      <Content>
        {
          heroImage && (
            <Image
              aspectRatio={2.0}
              class="border border-slate-300 dark:border-zinc-700 rounded-xl"
              width={720 * 2}
              src={heroImage}
              alt=""
            />
          )
        }
        <h1 class="text-4xl font-bold py-4">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        <p>{getReadingTime(Astro.props.compiledContent())} minutes to read</p>
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
      </Content>
    </Main>
    <Footer />
  </Body>
</html>
